  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Cursive", "Ssmall-caps";
    }

    div {
        text-align: left;
        margin-top: 10px;
    }

    h1 {
        color: rgb(72, 28, 166);
        font-size: 30pt;
    }

    p {
        color: rgb(210, 45, 122);
        font-size: 20pt;
    }
</style>

<div>
    <h1>Welcome to my chatbox !</h1><br>
    <p>This site has been visited {{ count }} times.</p>
</div>
